@import url("fonts.35e70b260de4.css");

/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, font, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td {*/
/*margin: 0;*/
/*padding: 0;*/
/*border: 0;*/
/*outline: 0;*/
/*font-weight: inherit;*/
/*font-style: inherit;*/
/*font-size: 100%;*/
/*font-family: inherit;*/
/*vertical-align: baseline;*/
/*}*/

html {
  height: 100%;
}

body {
  margin: 0 0 0 0;
  padding: 13.5rem 0 10rem 0;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #E4EBF0;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  line-height: 15rem;
  background-color: #f5f5f5;
}

content {
  min-height: 100%;
}

textarea {
  resize: none;
  border-radius: 50rem;
  padding: 1rem 1rem 1rem 1rem;
  outline: none;
  overflow: auto;
  background-color: #fff;
  border: 0.1rem solid rgba(171, 184, 193, 0.5);
}

textarea::-webkit-scrollbar {
  display: none;
}

button {
  border-radius: 50rem;
  border: none;
  outline: none;
}

input {
  border-radius: 50rem;
  outline: none;
  border: 0.1rem solid rgba(171, 184, 193, 0.5);
  padding: 0 1rem 0 1rem;
}

table, th, td {
  border: 1px solid rgba(171, 184, 193, 1);
}

h1 {
  font-family: 'Lobster', cursive;
}

h2, h3, h4, h5 {
  font-weight: bold;
  font-family: 'Roboto', serif;
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.user-dp {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.font-lobster {
  font-family: 'Lobster', cursive;
}

.user-dp img {
  border-radius: 50%;
  object-fit: contain;
}

.username {
  font-weight: bold;
}

form {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* USE COMMENT TO SEPERATE BETWEEN APP */

/* HOME */

.header {
  position: fixed;
  top: 0;
  height: 7.5rem;
  min-height: 7.5rem;
  width: 100%;
  padding: 0rem 5rem 0rem 5rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.9rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1000;
}

.header .navbar-base {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 0 1.5rem 0;
  height: inherit;
  overflow: inherit;
}

.header .navbar-base .navbar-left {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  height: inherit;
}

.header .navbar-base .navbar-left .logo {
  position: fixed;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  top: 0;
  width: 16rem;
  height: inherit;
  background-color: #698491;
  box-shadow: 0 0.1rem .9rem rgba(0, 0, 0, 0.1);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.header .navbar-base .navbar-left .logo .logo-text {
  font-family: 'Lobster', cursive;
  font-size: 3.3rem;
  color: #e6ecf1;
  text-decoration: none;
}

.header .navbar-base .navbar-right {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.header .navbar-base .navbar-right .search-bar {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  padding: 0 2rem 0 1rem;
  height: 5rem;
  width: 65%;
  border: 0.1rem solid rgba(171, 184, 193, 0.5);
  border-radius: 50rem;
}

.header .navbar-base .navbar-right .search-bar input {
  padding: 0 2rem 0 2rem;
  width: 90%;
  text-decoration: none;
  border: none;
  outline: none;
}

.header .navbar-base .navbar-right .search-bar .fa-search {
  font-size: 2.5rem;
  /*
  it is a hack but not really compatible across browser
  only safari and chrome support webkit
  */
  -webkit-text-stroke: 2px white;
  color: #698491;
  cursor: pointer;
  text-decoration: none;
}

.header .navbar-base .navbar-right .search-bar .fa-search:active {
  color: white;
}

.header .navbar-base .navbar-right .account {
  position: relative;
  min-width: 35%;
  border-left: 0.1rem solid rgba(171, 184, 193, 0.5);
  padding: 0;
  margin-left: 2rem;
}


.header .navbar-base .navbar-right .account #btn-user img {
  border-radius: 50%;
  object-fit: contain;
  height: 5rem;
  width: 5rem;
}

.header .navbar-base .navbar-right .push-right {
  margin-left: auto;
}

.header .navbar-base .navbar-right .account #btn-login {
  position: relative;
  font-weight: bold;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #698491;
  color: #e6ecf1;
}

.header .navbar-base .navbar-right .account .menu-dropdown {
  position: relative;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  height: 10%;
  margin: 0;
  width: inherit;
  padding-left: 2rem;
}

.header .navbar-base .navbar-right .account .menu-dropdown:hover .menu-content {
  display: block;
}

.header .navbar-base .navbar-right .account .menu-content {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 30rem;
  width: 20rem;
  padding: 4.5rem 0 0 0;
}

.header .navbar-base .navbar-right .account .menu-content .arrow-up {
  width: 0;
  height: 0;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid #fff;
  margin-left: 0.5rem;
}

.header .navbar-base .navbar-right .account .menu-content .square {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 9rem;
  right: 10rem;
  border-radius: 0.5rem;
  box-shadow: 0 .3rem 0.9rem -.3rem rgba(171, 184, 193, 1);
  background-color: #fff;
}

.header .navbar-base .navbar-right .account .menu-content .square .content {
  display: flex;
  align-content: center;
  align-items: center;
  height: 7rem;
  color: #677785;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 2rem 1rem 2rem;
  border-bottom: 0.1rem solid rgba(171, 184, 193, 0.3);
}

.square #content-about {
  display: flex;
  flex-direction: column;
  font-size: 1.65rem;
  cursor: default;
  height: 100%;
}

.header .navbar-base .navbar-right .account #menu-login {
  right: -12rem;
}

.header .navbar-base .navbar-right .account #menu-login .square {
  width: 30rem;
  padding: 2rem;
}

#menu-login form {
  display: flex;
  flex-direction: column;
}

#menu-login .login-form-input {
  outline: none;
  padding: 1rem;
  margin: .5rem 0 .5rem 0;
}

#menu-login form .messages .error {
  background-color: #af515d;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#menu-login button {
  bottom: 0;
  width: 70%;
  padding: 1rem;
  background-color: #abb8c1;
  color: #fff;
}

/* HOME LAYOUT */
.dashboard {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 0.7rem 0 0.7rem;
}

.dashboard .bottom-space {
  margin-bottom: 3rem;
}

.dashboard .section-profile {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-content: space-around;
  min-width: 20%;
}

.dashboard .section-profile .profile {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  height: 45rem;
  border-radius: 0.5rem;
  background-color: #fff;
  overflow: hidden;
}

.dashboard .section-profile .profile .img-cover {
  display: block;
  z-index: 1;
  background-color: #698491;
  height: 22rem;
  width: inherit;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dashboard .section-profile .profile .img-cover img {
  max-width: inherit;
  max-height: inherit;
  object-fit: contain;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dashboard .section-profile .profile .about {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  justify-content: flex-start;
  height: 10rem;
  padding: 0 1.5rem 0 1.5rem;
}

.dashboard .section-profile .profile .about .user-dp {
  margin-top: -4rem;
  min-width: 12rem;
  min-height: 12rem;
  max-width: 12rem;
  max-height: 12rem;
  /*background: #ffffff;*/
  z-index: 2;
}

.dashboard .section-profile .profile .about .user-dp img {
  border: 0.5rem solid #ffffff;
  z-index: inherit;
  min-height: inherit;
  min-width: inherit;
  max-height: inherit;
  max-width: inherit;
}

.dashboard .section-profile .profile .about .user {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  margin: 0 0 0 3rem;
}

.dashboard .section-profile .profile .stats {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  justify-content: space-between;
  margin-top: 2.2rem;
  height: 11rem;
}

.dashboard .section-profile .profile .stats #stats-friends {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.dashboard .section-profile .profile .stats .stat-content:hover {
  background-color: rgba(171, 184, 193, 0.2);
}

.dashboard .section-profile .profile .stats .stat-content {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  width: 50%;
}

.dashboard .section-profile .profile .stats .stat-content .title {
  color: #698491;
}

.dashboard .section-profile .profile .stats .stat-content .content {
  color: #abb8c2;
  font-weight: bolder;
  font-size: 4rem;
}

.dashboard .section-profile .forum {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
}

.dashboard .section-profile .forum button {
  width: 100%;
  height: 5rem;
  font-size: larger;
  font-weight: bold;
  color: #fff;
  background-color: #698491;
}

.dashboard .section-profile .latest {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-around;
  background-color: #F6F7F8;
  border-radius: 0.5rem;
  padding: 2rem;
}

.dashboard .section-profile .latest .head {
  font-weight: bold;
  color: #698491;
}

.dashboard .section-profile .latest .content {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border: 0.1rem solid #abb8c1;
  border-radius: 0.5rem;
  padding: 2rem;
  max-width: 45rem;
  overflow: hidden;
}

.dashboard .section-activity {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  min-width: 70%;
  max-width: 70%;
  min-height: 110%;
  border-radius: .5rem;
}

.dashboard #section-activity-2, #section-activity-3 {
  display: none;
}

.dashboard .section-activity .activity-tab {
  display: flex;
  justify-content: flex-start;
  height: 7rem;
  border-radius: inherit;
}

.dashboard .section-activity .activity-tab .tab-button {
  width: 15rem;
  margin: .5rem 1rem .5rem 1rem;
  font-weight: bold;
  font-size: 3rem;
  color: #abb8c1;
  background: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dashboard .section-activity .activity-tab .tab-button-active {
  color: inherit;
  /*background-color: rgba(171, 184, 193, 0.2);*/
}

.dashboard .section-activity .activity-tab .tab-button:hover {
  color: inherit;
  background-color: rgba(171, 184, 193, 0.2);
}

.dashboard .section-activity .tab-content {
  display: flex;
  border-radius: inherit;
  box-shadow: 0 -0.08rem 0.2rem rgba(0, 0, 0, 0.2);
  /* TODO change to 100% after the data is ready so it could be more flexible*/
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dashboard .section-activity #tab-riwayat, #tab-status, #tab-friend, #tab-edit-profile {
  display: none;
}

/* PROFILE */
#tab-profile {
  display: block;
}

.flex-row{
  padding: 1rem 3rem 1rem 3rem;
  margin: 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.flex-warning {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  color: #af515d;
}

.flex-item-1{
  flex-basis: 10% auto;
  margin-right: 2rem;
}

.flex-item-2{
  flex-basis: 40% auto;
}

.flex-item-3{
  flex-basis: 30% auto;
}

#tab-button-edit-profile, #save-button {
  background-color: #fff;
  color: #658190;
  border: 0.1rem solid #658190;
  border-radius: 50rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
}

.flex-profile-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: baseline;
  justify-content: flex-start;
  padding: 0 3rem 0 3rem;
}

.flex-profile-content h3 {
  width: 8rem;
  margin-right: 5rem;
}

.flex-profile-content .group-keahlian {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.flex-profile-content .group-keahlian .keahlian {
  margin: 0 1rem 0 1rem;
}

#tab-friend {
  padding: 5rem;
}

#tab-edit-profile {
  height: 50rem;
  width: 100%rem;
}

#message-success {
  width: 100%;
  height: 4rem;
  padding: 1.5rem;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: mediumseagreen;
  color: #fff;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #698491;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


/* RIWAYAT */
#tab-riwayat .content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2rem 0 2rem 0;
}

#tab-riwayat .content table {
  width: 75%;
  max-height: 50%;
  overflow: scroll;
}

#tab-riwayat .content tr:nth-child(odd) {
  background-color: rgba(101, 104, 109, 0.3)
}
#tab-riwayat .content tr:nth-child(even) {
  background-color: #fff
}

#tab-riwayat .content table thead {
  background-color: #658190;
  color: #fff;
}

#tab-riwayat .content table th {
  padding: 2rem;
}

#tab-riwayat .content table td {
  padding: 1rem;
}

/* STATUS */

#tab-status #post-status {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 25rem;
  background-color: #F6F7F8;
}

#tab-status #post-status .user-dp {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
  width: 10%;
}

#tab-status #post-status .user-dp img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

#tab-status #post-status .input-status {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding-right: 3rem;
  width: 90%;
}

#tab-status #post-status .input-status #status-textarea {
  border-radius: 1rem;
  width: 100%;
  padding: 2rem 2rem 2rem 2rem;
}

#tab-status #post-status .input-status button {
  min-width: 15rem;
  height: 5rem;
  font-size: larger;
  font-weight: bold;
  color: #fff;
  background-color: #698491;
}

#tab-status #timeline {
  display: block;
  padding: 0 1rem 0 1rem;
  max-width: 100%;
  background-color: #fff;
}

#tab-status #timeline .status {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 15rem;
  border-bottom: 0.1rem solid rgba(171, 184, 193, 0.5);
}

#tab-status #timeline .status .user-dp {
  min-width: 10%;
}

#tab-status #timeline .status .user-dp img {
  max-width: 8rem;
  max-height: 8rem;
  border: 0.2rem solid rgba(171, 184, 193, 0.5);
  object-fit: contain;
}

#tab-status #timeline .status .status-content {
  padding: 2rem 1rem 2rem 1rem;
  min-width: 72%;
  max-width: 72%;
}

#tab-status #timeline .status .status-content span {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  max-width: inherit;
}

#tab-status #timeline .status .status-content span p {
  margin-left: 1rem;
  color: rgba(103, 119, 113, 0.75);
}

#tab-status #timeline .status .right-status {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 15%;
}

#tab-status #timeline .status .right-status .status-date {
  color: rgba(103, 119, 113, 0.75);
}

#tab-status #timeline .status .right-status .trash {
  font-size: 4rem;
  color: rgba(103, 119, 113, 0.25);
  background: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#tab-status #timeline .status .right-status .trash:hover {
  color: rgba(103, 119, 113, 0.6);
}

@media only screen and (max-width: 1025px) {

  body {
    padding-top: 5rem;
  }

  .header {
    padding: 0;
  }

  .header .navbar-base .navbar-right .search-bar {
    display: none;
  }

  .header .navbar-base .navbar-right .account .menu-dropdown {
    padding-left: 2rem;
  }

  .header .navbar-base .navbar-right .account .menu-content .square {
    width: 180%;
    right: 15rem;
  }

  .dashboard {
    padding: 0 1.5rem 0 1.5rem;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .dashboard .section-profile {
    margin-top: 5rem;
    width: 100%;
  }

  .dashboard .section-activity {
    width: 100%;
  }

  .user-dp {
    display: none;
  }


  .dashboard .section-activity {
    min-width: 100%;
  }

  .dashboard .section-activity .activity-tab {
    overflow: auto;
    outline: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .dashboard .section-activity .activity-tab::-webkit-scrollbar {
    display:none
  }

  .dashboard .section-activity .tab-content {
    min-width: 100%;
  }

  #tab-status #timeline .status {
    flex-direction: column;
    padding: 0 3rem 0 3rem;
  }

  #tab-status #timeline .status .status-content, .right-status, span {
    max-width: 100%;
  }

  #tab-status #post-status .user-dp {
    display: none;
  }

  #tab-status #post-status .input-status {
    padding: 0 3rem 0 3rem;
    width: 100%;
  }

  .dashboard .section-profile .latest .content {
    max-width: 100%;
  }

}

@media only screen and (max-width: 768px) {

  .header .navbar-base .navbar-right .account {
    margin: 0;
    right: auto;
  }

  #table-riwayat {
    display: block;
  }

  #table-riwayat thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid rgba(103, 119, 113, 1); }

  /* TODO MAKE TABLE BEHAVE LIKE ROW */
  /* TODO td:before still silly */

  td {
    border: none;
    border-bottom: 1px solid rgba(103, 119, 113, 0.6);
    position: relative;
    height: 10rem;
  }

  td:before {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 45%;
    white-space: nowrap;
  }

  /*td:nth-of-type(1):before { content: "Mata Kuliah"; }*/
  /*td:nth-of-type(2):before { content: "SKS"; }*/
  /*td:nth-of-type(3):before { content: "Nilai"; }*/
  /*td:nth-of-type(4):before { content: "Kode"; }*/

  #tab-riwayat .content {
    flex: 1 1 0;
    min-height: 100%;
  }
}

@media only screen and (max-width: 450px) {

  .header .navbar-base .navbar-right .account {
    margin: 0;
    right: 2rem;
  }

  .header .navbar-base .navbar-right .account .menu-dropdown #btn-login {
    right: 1.5rem;
    width: 8rem;
    padding: 0.8rem;
  }

  .header .navbar-base .navbar-right .account #menu-account .square {
    width: 130%;
    right: 15rem;
  }

  .header .navbar-base .navbar-right .account #menu-login .arrow-up {
    margin-left: 2.5rem;
  }
  .header .navbar-base .navbar-right .account #menu-login .square {
    width: 30rem;
    right: 11rem;
  }
}