{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Forum Lowongan
{% endblock %}

{% block css %}
<script type="text/javascript" src="//platform.linkedin.com/in.js">
  api_key:   866hc1so0n9js9
  onLoad:    checkLoggedIn
  authorize: true
</script>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/fitur1.css' %}" />
{% endblock %}

{% block header %}
{% include "partials/header.html" %}
{% endblock %}

{% block content %}
<!-- Section -->
<section class="wrapper" style="background-image: url('https://picsum.photos/1900/1080?image=1031')">
  <div class="inner">
    <header class="align-center" >
      <h1>Create Job Posting</h1>
      <p style="color: black">Tell the world your company vacancies.</p>
      <!-- Form for new status -->
      <form class="card-text" method="POST" action="{% url 'forum:add' %}">
        {% csrf_token %}
        <div style="width: 75%; text-align:center; margin: 0 auto">
        <textarea placeholder="Describe your job requirements" class="form-control" name="content" rows="5" id="content" style="width: 100%" title="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" style="margin: 10px 0 25px 0" id="button"> Submit </button>
      </form>
    </header>
  </div>
</section>

<!-- Section -->
<section class="wrapper">
  <!-- Print errors if any -->
  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endif %}

  <div class="inner">
      <div id="page" class="container">
          <div id="content">
            <div>
              {% for i in forum reversed %}
              <ul class="style1">
                <li class="first">
                  <h6 class="card-subtitle mb-2 text-muted"> {{ i.date }} </h6>
                  <p class="card-text"> {{ i.content }} </p>
                  <b><a href="/forum/delete/{{ i.id }}" class="button-style" id="">Delete</a></b>
                </li>
                <hr>
              </ul>
              {% endfor %}
            </div>
          </div>
      </div>
  </div>
  
  <nav>
    {% if forum.has_other_pages %}
    <ul class="pagination" style="justify-content: center; margin-top: 20px">
      {% if forum.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ forum.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
      {% endif %}
      {% for i in forum.paginator.page_range %}
      {% if forum.number == i %}
      <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if forum.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ forum.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>
</section>
{% endblock %}

{% block javascript %}
<!-- <script src="{% static 'js/fitur3.js' %}"></script> -->
{% endblock %}
